*.php                   @centreon/owners-php
*.xml                   @centreon/owners-php
composer.*              @centreon/owners-php
**/phpstan.neon         @centreon/owners-php

*.sh                    @centreon/owners-bash

.github/**              @centreon/owners-pipelines

*.py                    @centreon/owners-python

.gitleaks.toml          @centreon/owners-security
.gitleaksignore         @centreon/owners-security
.githooks/pre-commit    @centreon/owners-security
**/secu-*.yml           @centreon/owners-security
